body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url(./images/rock_paper_crossedblades.png);  
    background-size: cover;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rps-header {
    font-size: 30px;
    border-style: groove;
    border-color: white;
    color: black;
    background: lightgray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    text-shadow: 2px 2px black;
    text-decoration: wavy;
    width: 600px;
    height: 45px;
    transform: skew(-20deg);
    border-radius: 20px;
}
.container-main {
    color: white;
    margin: 5% 0% 5% 0%; 
    margin-bottom: 100px;

}
.choices-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}
.choices {
    font-weight: 600;
    background-color: black;
    margin-left: -10%;
    margin-right: -10%;
    padding: 10px;
    border-color: lightgray;
    border-style: groove;
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px black;
    margin-bottom: 20px;

}
button {
    color: white;
    border: 3px black solid;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    border-style: groove;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;  
}

img {
    width: 100px;
    height: 100px;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg) scale(1.2); }
    25% { transform: rotate(5deg) scale(1.2); }
    50% { transform: rotate(0eg) scale(1.2); }
    75% { transform: rotate(-5deg) scale(1.2);}
    100% { transform: rotate(0deg) scale(1.2);  }
  }
button:hover {
    animation: tilt-shaking 1.4s infinite;
    animation-timing-function: ease-in;
}

.outcome {
    text-align: center;
}

.footer {
    display: flex;
    color: whitesmoke;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    margin-top: 0px;
    padding-top: 6px;

}

